{% extends "base.html" %}
{% load static %}
{% load pwa %} 
{% block head %}

<title>Home</title>
{% progressive_web_app_meta %}
{% endblock %}

{% block body %}

<div class="container">
    {% if notifications %}
        {% for notification in notifications %}
        <div class="alert alert-info alert-dismissible fade show mt-4" role="alert">
            <i class="fa-solid fa-circle-info"></i> {{ notification }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
    <div class="card mt-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img class="img-fluid" src="{% static 'images/user.png' %}" alt="User">
                    </div>
                </div>
                <div class="col-md-6">
                    <br>
                    <h2 class="mt-4">Hello {{ user.first_name }} {{ user.last_name }}!</h2>
                    <h3 class="mt-4">
                        <span class="badge text-bg-success">
                            {% if request.user.user_type == 0 %}
                            <i class="fa-solid fa-graduation-cap"></i> Student
                            {% else %}
                            <i class="fa-solid fa-person-chalkboard"></i> Staff
                            {% endif %}
                        </span>
                    </h3>
                    <div class="mt-4 mb-4">
                        <span>{{ user.college_branch }}</span>
                        <br>
                        <span>{{ user.email }}</span>
                        <br>
                        <span>{{ user.phone_number }}</span>
                    </div>
                </div>
                <div class="col-md-3">
                    {% if status == "active" %}
                        <div class="text-center">
                            <img class="img-fluid" src="data:image/png;base64,{{ qr_code_data }}" alt="QR Code">
                            <a class="btn btn-primary" href="{% url 'view_pass' pk=user_bus_pass.pk %}">View Pass</a>
                        </div>
                        {% elif status == "renew" %}
                        <div class="text-center">
                            <img class="img-fluid" src="data:image/png;base64,{{ qr_code_data }}" alt="QR Code" style="filter: blur(7px);">
                            <p class="text-danger"><i class="fa-solid fa-circle-exclamation"></i> Your pass has expired</p>
                            <a class="btn btn-primary" href="{% url 'select_bus' %}">Renew Pass</a>
                        </div>
                        {% else %}
                        <div class="text-center">
                            <img class="img-fluid" src="data:image/png;base64,{{ qr_code_data }}" alt="QR Code" style="filter: blur(7px);">
                            <p class="text-danger"><i class="fa-solid fa-circle-exclamation"></i> You have no active pass</p>
                            <a class="btn btn-primary" href="{% url 'select_bus' %}">Book Pass</a>
                        </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}



