{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}

<title>Payment</title>

{% endblock %}

{% block body %}

<div class="container">
    <div class="text-center mt-3">
        <h2>Payment</h2>
    </div>

    <div class="row mb-3">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h2>
                            <span class="badge text-bg-primary">
                            Bus No {{ user_bus_pass.bus.bus_number }}
                            </span>
                        </h2>
                        
                        <div class="row mt-4">
                            <div class="col-md-5">
                                <h3>College</h3>
                            </div>
                            <div class="col-md-2">
                                <h3><i class="fa-solid fa-arrow-right-arrow-left"></i></h3>
                            </div>
                            <div class="col-md-5">
                                <h3>{{ user_bus_pass.bus.destination }}</h3>
                            </div>
                        </div>
    
                        <div class="text-center mt-4">
                            <em>Boarding at {{ user_bus_pass.boarding_point }}</em>
                        </div>
                    </div>
                    
                    <hr>

                    <div class="text-center">
                        <h1>INR {{ user_bus_pass.fare }}</h1>
                    </div>


                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Enter UPI ID">
                        </div>

                        <button class="btn btn-primary">Pay</button>
                        <a class="btn btn-secondary" href="{% url 'book' pk=user_bus_pass.bus.pk %}">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}